
&_dropdown
  position: relative
  &__menu
    background: white
    border-radius: 4px
    border: 1px solid whitesmoke
    top: calc(100% + 10px)
    right: 20px
    position: absolute
    display: none
    margin: 0
    padding: 0
    list-style: none
    &--active
      display: inline-block
    &:after
      top: -3px
      right: 10px
      content: ''
      position: absolute
      transform rotate(225deg)
      border: 5px solid transparent
      border-bottom: 5px solid white
      border-right: 5px solid white
    li
      min-width: 130px
      color black
      white-space: nowrap
      margin 0
      padding: 0 15px
      font-weight: 100
  &__divider
    border-bottom: 1px solid whitesmoke