@import '~normalize.css'
@import '~milligram-stylus/src/_Grid.styl'
@import './variables.styl'

::-webkit-scrollbar 
  width: 10px
  height: 10px

::-webkit-scrollbar-thumb
  background: rgba(255,255,255,.5)

::-webkit-scrollbar-track
  background: rgba(0,0,0,.3)

* {
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-shttpelect: none
  user-select: none
  box-sizing border-box
  image-rendering pixelated
}

a 
  color: inherit
  text-decoration: inherit


body
  background background-black
  position absolute
  width 100%
  height 100%
  color text-color


.pxr
  @import './Navbar.styl'
  @import './Dropdown.styl'
  @import './Home.styl'
  @import './Modal.styl'
  @import './Preview.styl'