
&_preview
  height: calc(100% - 20px)
  image-rendering: pixelated
  background-size: contain
  background-position: 50%
  background-repeat: no-repeat
  margin: 10px
  h2
    margin: 0
    
  &__image
    text-align: center
    height: 100%
  &__content__image
    text-align: center